.personal-center-model {
    margin: 20px 200px;
    font-family: Microsoft YaHei
}

.sidebar {
    float: left;
    margin-left: 60px;
}

.sidebar ul li {
    text-align: center
}

.sidebar .li-title {
    color: #000
}

.sidebar a {
    color: #000;
    text-decoration: none;
}

.sidebar .li-active a {
    color: #F40;
    font-weight: 900;
}