.radio-row {
    border: 1px dashed #BCBCBC;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 945px;
    height: 40px;
    line-height: 40px;
}

.radio-row .title,
.radio-row .radio {
    display: inline-block;
}

.radio-row .title {
    margin-right: 5px;
}