.basicDetail-form-button {
    margin-left: 75px;
    width: 60px;
    height: 25px;
    font-size: 12px;
    text-align: center;
    border-radius: 3px;
    border: 0;
    background-color: #f40;
    color: #fff;
}