.top-menu-avater {
    /*位置 */
    position: absolute;
    padding: 5px;
    /*大小*/
    width: 100.5%;
    border: 1px solid #EEE;
    border-top: 0;
    /*文字系列*/
    font-size: 12px;
    line-height: normal;
    /*背景 */
    background: #FFF;
    /*其他 */
}

.item-avater {
    float: left;
    padding: 4px;
    margin: 0 10px 9px 0;
    width: 62px;
    height: 62px;
    box-sizing: content-box
}

.item-avater img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.item-detail {
    float: left;
    margin-top: 15px;
}

.item-logout {
    float: left;
    margin-top: 5px;
}

.nav-avater-a {
    color: #000;
}

.nav-avater-a:hover {
    color: #F40;
}

.nav-avater-a:visited {
    text-decoration: none;
}