body {
    font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}

.clear-float {
    clear: both;
}

.top-menu {
    min-width: 1347px;
}

.ant-menu-horizontal>.ant-menu-item {
    border: 0;
    padding: 0 5px;
    width: 60px;
    text-align: center;
}

.ant-menu-horizontal>.ant-menu-item a:hover {
    color: #f40;
}

.ant-menu-horizontal>.ant-menu-item-active {
    border: 0;
    color: #f40;
}

.ant-menu-horizontal>.ant-menu-item:hover {
    border: 0;
    color: #f40;
}

.ant-menu-horizontal>.ant-menu-submenu {
    border: 0;
}

.ant-menu-horizontal>.ant-menu-submenu:hover,
.ant-menu-horizontal>.ant-menu-submenu-active,
.ant-menu-horizontal>.ant-menu-submenu-open {
    border-bottom: 0;
    color: #000;
    background-color: #fff
}

.ant-menu-submenu-horizontal>.ant-menu {
    margin-top: 0;
}

.ant-menu {
    border: 0;
    color: #3C3C3C;
    line-height: 36px;
    background-color: #f5f5f5;
}

ant-menu-submenu-horizontal>.ant-menu-submenu {
    border: 0;
}

.ant-menu-item,
.ant-menu-submenu-title {
    padding: 0;
    overflow: hidden;
}

.ant-menu-submenu-title:hover {
    color: #f40;
    background-color: #fff
}

.ant-menu-item:hover,
.ant-menu-item-active {
    color: #F40;
    background-color: #fff
}

.top-menu-down {
    position: absolute;
    top: 12px;
    right: 0;
    color: gray;
}

.user-account {
    padding: 0 6px;
    margin: 0 570px 0 200px;
    width: 152px;
}

.user-cart {
    position: relative;
    padding: 0 6px;
    width: 110px;
    height: 35px;
    line-height: 35px;
}

.ant-menu-submenu-title .anticon {
    margin-right: 4px;
}

.shopping-cart-icon {
    padding: 5px 0 1px 0;
    line-height: 7px;
    color: #F40;
}