.top-menu-visitor {
    border: 0;
    color: #3C3C3C;
    height: 36px;
    line-height: 36px;
    background-color: #f5f5f5;
    outline: none;
}

.top-menu-visitor li {
    float: left;
    padding: 0 8px;
}

.top-menu-visitor li a {
    text-decoration: none;
    color: #3C3C3C;
}

.top-menu-visitor li a:hover {
    color: #f40;
}

.top-menu-visitor .login {
    margin-left: 200px;
}

.top-menu-visitor .login a {
    color: #f40;
}

.top-menu-visitor .register {
    margin-right: 580px;
}

.fenkai {
    clear: both;
}

.login-box {
    font-family: Microsoft Yahei;
    /* background-color: #FEF9E6; */
}

.ant-modal-content {
    background-color: #FEF9E6;
}

.ant-modal-header {
    background: #FEF9E6;
    border-bottom: 1px solid #FEF9E6;
}